/* globals.css */

@font-face {
  font-family: 'Writer';
  src: url('/fonts/PPWriter-Book.ttf') format('opentype');
  font-weight: inherit;
}

@font-face {
  font-family: 'PolyM';
  src: url('/fonts/PolySans-Median.otf') format('opentype');
  font-weight: inherit;
  letter-spacing: -0.035em;
}

@font-face {
  font-family: 'PolyS';
  src: url('/fonts/PolySans-Slim.otf') format('opentype');
  font-weight: inherit;
  letter-spacing: -0.035em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Writer';
  background: #F7F7F7;
  color: #333;
}

/* These styles are for the Navbar component, which is a global component, so they belong here. */
.navLink {
  text-decoration: none;
  font-family: 'PolyS';
}

.navLink:hover {
  color: #4D4DDB;
}

.bodyLink a {
  color: #4D4DDB;
  text-decoration: underline;
  text-underline-offset: 2px;
}