/* page.module.css */

.container {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 12rem;
}

.grid {
  margin-bottom: 1rem;
}

.grid h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  font-family: 'PolyM';
}

.textGrid {
  max-width: 75%;
}

.textGrid p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem; /* Combined rules */
  }
  
  .grid h1 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
  
  .textGrid {
    max-width: 90%;
    margin-bottom: 10rem;
  }
  
  .textGrid p {
    font-size: 1rem; /* This is where your mobile size should be */
  }
}
