.container {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 12rem;
}

.grid {
  margin-bottom: 1rem;
}

.grid h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
  font-family: 'PolyM';
}

.textGrid {
  max-width: 70%;
}

.textGrid p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* Mobile */
@media (max-width: 768px) {
  .grid h1 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .navigation {
  background: #F7F7F7;
  border-bottom: 0.2px solid #333;
  }

  
.textGrid {
  max-width: 90%;
  margin-bottom: 10rem;
}

  
  .textGrid p {
    font-size: 1rem;
  }
  
  .container {
    padding: 2rem 1rem;
  }
}