.container {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 3fr 5fr;
  grid-template-columns: 3fr 5fr;
  max-width: 90vw;
  margin: 3rem auto;
}

.main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 90vw;
  margin: 1rem auto;
}

.navigation {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main p {
  margin: 8px 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
  align-content: start;
}

.grid h1 {

  margin-bottom: 8px;
}

/* Small screens */
/* @media (max-width: 1120px) {
  .main ul {
    margin: 1rem 2rem;
  }

  .grid {
    grid: auto-flow dense;
    max-width: 100%;
    margin: 1rem 0;
    text-align: left;
  }

  .container {
    -ms-grid-columns: 6fr;
    grid-template-columns: 6fr;
    margin: 2rem;
  }
} */

/* Large screens
@media (min-width: 1441px) {

  .grid {
    grid: auto-flow dense;
    max-width: 100%;
    margin: 1rem 0;
    text-align: left;
  }

  .container {
    -ms-grid-columns: 2fr 3fr;
    grid-template-columns: 2fr 3fr;
  }
} */